.btn-roxo {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0;
    margin: 5px;
    padding: 5px;
    background-color: #4d3efc;
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
    transition: 0.5s ease all;
}

.btn-roxo:hover {
    background-color: #4d3efc;
    transform: scale(1.1);
    opacity: 0.9;
}