html, * {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
}



.bg-personalizado {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}



.card {
    transition: all ease .3s;
}